body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background: #222222;
    color: #f9f9f9;
}
li {
    line-height: 1.8;
}

.mainList {
    border-radius: 30px;
    box-shadow: 0px 0px 8px #000000;
    width: 50%;
    display: flex;
    flex-flow: column;
    padding: 50px;
    margin: 0 auto;
}

.formArea {
    text-align: center;
    padding-top: 20px;
}

input {
    font-size: 1.2rem;
}

.fa {
    margin: 0 5px;
}

.fa-check {
    color: rgb(44, 150, 236);
}

.completed {
    text-decoration: line-through;
    color: grey;
}